@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// navigation links
.link-area {
	a {
		border-bottom: 2px solid;
	}
	.link-active {
		border-color: green;
	}
}
// button area
.btn-area {
	border-bottom: 3px solid #cecece;
	button {
		margin-bottom: -2.5px;
	}
	.btn-active {
		border-bottom: 3px solid green;
	}
}
